<input type="checkbox" id="my-modal-<%=post.id%>" class="modal-toggle" />
<div class="modal" id="my-modal-<%=post.id%>">
  <div class="modal-box">
    <h1 class="text-2xl text-center mb-4">区エスト詳細</h1>
    <h1 class="text-3xl text-center text-white mb-4"><%=post.title%></h1>
    <div class="grid grid-cols-5 gap-4 mb-4">
      <% if post.image.attached? %>
        <%= image_tag post.image.variant(resize: "200x200>"),class: "col-span-2 rounded-xl self-center" %>
      <% end %>
      <div class="overflow-x-auto col-span-3">
        <table class="table w-full">
        <tbody>
          <tr>
            <th>場所</th>
            <td><%=post.place%></td>
          </tr>
          <tr>
            <th>日時</th>
            <td><%=post.date%></td>
          </tr>
          <tr>
            <th>料金</th>
            <td><%=post.price%></td>
          </tr>
          <tr>
            <th>時間</th>
            <td><%=post.time%></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div class="www rounded mb-4">
      <p class="py-4 pl-3 text-white"><%=safe_join(post.body.split("\n"),tag(:br))%></p>
    </div>
    <div class="card-actions justify-start">
      <%= link_to 'クエストをキャンセルする', quest_path(post), data: { turbo_method: :delete }, class: 'btn btn-error' %>
      <button class="btn btn-warning" id="<%=post.id%>" value="<%=post.latlng.to_json%>" onclick="calculateDistance(this.value,this.id)">完了する</button>
      <%= link_to 'クエストクリア！', clear_quest_path(id: post.id),id: "#{post.id}-stamp", class: 'btn btn-success' %>
      <label for="my-modal-<%=post.id%>" class="btn">閉じる</label>
    </div>
  </div>
</div>
