<input type="checkbox" id="my-modal-<%=post.id%>" class="modal-toggle" />
<div class="modal" id="my-modal-<%=post.id%>">
  <div class="modal-box p-6">
    <h1 class="text-3xl text-center my-4">区エスト詳細</h1>
    <h1 class="text-3xl text-center text-white my-8"><%=post.title%></h1>
    <div class="grid grid-cols-5 gap-4 mb-4">
      <% if post.image.attached? %>
        <%= image_tag post.image.variant(resize: "200x200>"),class: "col-span-2 rounded-xl self-center" %>
      <% end %>
      <div class="overflow-x-auto col-span-3">
        <table class="table w-full">
        <tbody>
          <tr>
            <td class="font-bold">場所</td>
            <td><%=post.place%></td>
          </tr>
          <tr>
            <td class="font-bold">日時</td>
            <td><%=post.date%></td>
          </tr>
          <tr>
            <td class="font-bold">料金</td>
            <td><%=post.price%></td>
          </tr>
          <tr>
            <td class="font-bold">時間</td>
            <td><%=post.time%></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div class="card-actions justify-start">
      <%= link_to 'クエストをキャンセルする', quest_path(post), data: { turbo_method: :delete }, class: 'btn btn-error' %>
      <button class="btn btn-warning" id="<%=post.id%>" value="<%=post.latitude%>,<%=post.longitude%>" onclick="calculateDistance(this.value,this.id)">距離を測る</button>
      <%= link_to 'クエストクリア！', clear_quest_path(id: post.id),id: "#{post.id}-stamp", class: 'btn btn-success' %>
      <label for="my-modal-<%=post.id%>" class="btn">閉じる</label>
    </div>
  </div>
</div>
