<input type="checkbox" id="my-modal-<%=post.id%>" class="modal-toggle" />
<div class="modal" id="my-modal-<%=post.id%>">
  <div class="modal-box p-6">
    <h1 class="text-3xl text-center my-4">区エスト詳細</h1>
    <h1 class="text-3xl text-center text-white my-8"><%=post.title%></h1>
    <div>
      <%= image_tag 'kuest', class: 'rounded-lg'%>
      <table class="table-auto">
        <tbody>
          <tr>
            <th class="font-bold w-20 text-lg">場所</th>
            <td class="font-bold text-lg"><%=post.place%></td>
          </tr>
          <tr>
            <th class="font-bold">日時</th>
            <td><%=post.date%></td>
          </tr>
          <tr>
            <th class="font-bold">料金</th>
            <td><%=post.price%></td>
          </tr>
          <tr>
            <th class="font-bold">時間</th>
            <td><%=post.time%></td>
          </tr>
          <tr>
            <th class="font-bold">公式URL</th>
            <td class="link link-primary"><%= raw Rinku.auto_link(h("#{post.url}")) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="card-actions justify-start">
      <%= link_to 'クエストをキャンセルする', quest_path(post), data: { turbo_method: :delete }, class: 'btn btn-error' %>
      <button class="btn btn-warning" id="<%=post.id%>" value="<%=post.latitude%>,<%=post.longitude%>" onclick="calculateDistance(this.value,this.id)">距離を測る</button>
      <%= link_to 'クエストクリア！', clear_quest_path(id: post.id),id: "#{post.id}-stamp", class: 'btn btn-success' %>
      <label for="my-modal-<%=post.id%>" class="btn">閉じる</label>
    </div>
  </div>
</div>
