<section class="select-sec p-6">
  <h1 class="text-5xl text-center my-4 text-white text-bold">区エストクリア!!</h1>
  <div class="max-w-lg mx-auto">
    <p class="text-3xl text-center my-8">現在のレベル</p>
    <p class="text-5xl text-center my-8"><%= current_user&.current_emblems&.last&.name %></p>

    <div class="flex justify-center">
      <div class="stats shadow mx-auto text-center">
        
        <div class="stat">
          <div class="stat-figure text-primary">
          <% if @emblem.emblem_image.attached? %>
            <%= image_tag @emblem.emblem_image.variant(resize: "200x200>"),class: "col-span-2 rounded-xl self-center" %>
          <% end %>
          </div>
          <div class="stat-title">クエストクリア回数</div>
          <div class="stat-value text-primary"><%= current_user.clear_num %></div>
          <div class="stat-desc"><%= @level_statement %></div>
        </div>
      </div>
    </div>
    <h1 class="text-3xl text-center text-white my-8"><%=@post.title%></h1>
    <div class="my-8">
      <%= image_tag 'kuest', class: 'rounded-lg'%>
      <table class="table-auto">
        <tbody>
          <tr>
            <th class="font-bold w-20 text-lg">場所</th>
            <td class="font-bold text-lg"><%=@post.place%></td>
          </tr>
          <tr>
            <th class="font-bold">日時</th>
            <td><%=@post.date%></td>
          </tr>
          <tr>
            <th class="font-bold">料金</th>
            <td><%=@post.price%></td>
          </tr>
          <tr>
            <th class="font-bold">時間</th>
            <td><%=@post.time%></td>
          </tr>
          <tr>
            <th class="font-bold">公式URL</th>
            <td class="link link-primary"><%= raw Rinku.auto_link(h("#{@post.url}")) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= link_to '区エスト一覧へ', areas_path, class: "btn"%>
    </div>
    <%
=begin%>
 <%= link_to "https://twitter.com/intent/tweet?text=#{current_user.name}さんが区エスト「#{@post.title}」をクリアしました！/&url=https://www.kuest.jp/&hashtags=区エスト", class: "btn btn-outline btn-warning" do%>
      <%= image_tag 'twitter.png',width:'30x30' %>
    <%end%> 
<%
=end%>
  </div>
</section>
