<section class="select-sec p-6">
  <h1 class="text-5xl text-center my-4 text-white text-bold">区エストクリア!!</h1>
  <div class="max-w-lg mx-auto">
    <h1 class="text-3xl text-center text-white my-8"><%=@post.title%></h1>
    <div class="flex justify-center">
      <div class="stats shadow mx-auto text-center">
        
        <div class="stat">
          <div class="stat-figure text-primary">
          <% if @emblem.emblem_image.attached? %>
            <%= image_tag @emblem.emblem_image.variant(resize: "200x200>"),class: "col-span-2 rounded-xl self-center" %>
          <% end %>
          </div>
          <div class="stat-title">クエストクリア回数</div>
          <div class="stat-value text-primary"><%= current_user.clear_num %></div>
          <div class="stat-desc"><%= @level_statement %></div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4 mb-4">
      <% if @post.image.attached? %>
        <%= image_tag @post.image.variant(resize: "200x200>"),class: "col-span-2 rounded-xl self-center" %>
      <% end %>
      <div class="overflow-x-auto col-span-3">
        <table class="table w-full">
          <tbody>
            <tr>
              <td class="font-bold">場所</td>
              <td><%=@post.place%></td>
            </tr>
            <tr>
              <td class="font-bold">日時</td>
              <td><%=@post.date%></td>
            </tr>
            <tr>
              <td class="font-bold">料金</td>
              <td><%=@post.price%></td>
            </tr>
            <tr>
              <td class="font-bold">時間</td>
              <td><%=@post.time%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="www www rounded-lg mb-4">
      <p class="p-4 text-white text-lg leading-loose"><%=safe_join(@post.body.split("\n"),tag(:br))%></p>
    </div>
    <div class="text-center">
      <%= link_to '区エスト一覧へ', root_path, class: "btn"%>
    </div>
    <%
=begin%>
 <%= link_to "https://twitter.com/intent/tweet?text=#{current_user.name}さんが区エスト「#{@post.title}」をクリアしました！/&url=https://www.kuest.jp/&hashtags=区エスト", class: "btn btn-outline btn-warning" do%>
      <%= image_tag 'twitter.png',width:'30x30' %>
    <%end%> 
<%
=end%>
  </div>
</section>
