<%= form_with model: form, url: admin_posts_path, method: :post, local: true do |form| %>
  <table class="table mx-auto">
    <thread>
      <tr>
        <th>
          <input type="checkbox" class="checkbox" />
        </th>
        <th>URL</th>
        <th>タイトル</th>
        <th>金額</th>
        <th>場所</th>
        <th>エリアID</th>
        <th>日にち</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>時間</th>
        <th>住所</th>
        <th>緯度</th>
        <th>経度</th>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :posts do |f| %>
        <tr>
          <th>
            <label>
              <%= f.check_box :availability, class: 'checkbox' %>
            </label>
          </th>
          <td>
            <%= f.text_field :url, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.text_field :title, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.text_field :price, class: 'textarea textarea-primary' %>
          </td%>
          <td>
            <%= f.text_field :place, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.number_field :area_id, class: 'input input-bordered input-primary' %>
          </td>
          <td>
            <%= f.text_field :date, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.date_field :start_date, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.date_field :finish_date, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.text_field :time, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.text_field :address, class: 'textarea textarea-primary' %>
          </td>
          <td>
            <%= f.number_field :latitude, class: 'input input-bordered input-primary' %>
          </td>
          <td>
            <%= f.number_field :longitude, class: 'input input-bordered input-primary' %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= form.submit "一括登録", class: 'btn'%>
<%end%>