<div class="card w-full indicator bg-base-100 shadow-xl mb-8">
<%= link_to board_path(post) do%>
  <div class="card-body flex flex-row pb-12">
    <div class="flex-none">
      <button class="btn font-mono text-base rounded-box px-1 py-0">開催予定</button>
    </div>
    <div class="grow">
      <h1 class="card-title text-white text-2xl"><%=post.title%></h1>
    </div>
  </div>
  <%= link_to "編集", edit_admin_post_path(post), class: "btn btn-primary"%>
  <%= link_to '削除', admin_post_path(post), data: { turbo_method: :delete }, class: 'btn btn-error' %>
  <span class="indicator-item indicator-bottom indicator-center badge badge-warning text-black p-4 w-4/5 mb-3">
    獲得コイン：<%= image_tag 'coin.png', size: '25x25' %> × 5000
  </span>
<%end%>
</div>
