<tr>
  <th>
  </th>
  <td>
  <p>タイトル：<%= post.title %></p>
  <p>日にち：<%= post.date %></p>
  <p>時間：<%= post.time %></p>
  <p>金額：<%= post.price %></p>
  <p>場所：<%= post.place %></p>
  <p>座標：<%= post.latlng %></p>
  <p>住所：<%= post.address %></p>
  <p>エリア：<%= post.area_id %></p>
  <p>公式URL：<%= raw Rinku.auto_link(h("#{post.url}")) %></p>
  </td>
</tr>
