<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><%= link_to "エンブレム作成", new_admin_emblem_path %></li>
        <li><%= link_to "エリア作成", new_admin_area_path %></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <%= button_to "全削除", destroy_all_admin_posts_path, { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %>
  </div>
  <div class="navbar-end">
    <%= form_with url: admin_scrapes_path,local: true do |f|%>
      <label class="input-group">
        <%= f.label :page_number %>
        <%= f.text_field :page_number,class:'input input-bordered input-warning' %>
        <%= f.label :area_name %>
        <%= f.text_field :area_name,class:'input input-bordered input-warning' %>
        <%= f.submit class:'btn'%>
      </label>
    <%end%>
  </div>
</div>

<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <%= render partial: 'post', collection: @posts, as: 'post' %>
  </table>
</div>