<input type="checkbox" id="my-modal-<%=post.id%>" class="modal-toggle" />
<div class="modal" id="my-modal-<%=post.id%>">
  <div class="modal-box">
    <p class="py-4"><%= post.user.name %></p>
    <h3 class="font-bold text-lg"><%=post.title%></h3>
    <p class="py-4"><%=post.body%></p>
    <% if post.image.attached? %>
      <%= image_tag post.image %>
    <% end %>
    <% if current_user %>
      <%= link_to 'クエストに出かける', set_stamp_path(id: post.id), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'ログインしてクエストに出かける', auth_at_provider_path(provider: :google), class: "btn btn-primary"%>
    <% end %>
    <label for="my-modal-<%=post.id%>" class="btn">閉じる</label>
  </div>
</div>
