<div class="card card-compact bg-base-100 shadow-xl my-5">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
  <div class="card-body object-contain">
    <h2 class="card-title"><%=post.title%></h2>
    <p><%=post.body%></p>
    <p><%=post.user.name%></p>
    <div class="card-actions justify-end">
      <% if current_user %>
        <%= link_to 'クエストに出かける', quests_path(id: post.id),data: { turbo_method: :post }, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'ログインしてクエストに出かける', auth_at_provider_path(provider: :google), class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>