<section class="select-sec p-6">
<div class="max-w-lg mx-auto">
  <h1 class="text-5xl text-center my-4">区エスト詳細</h1>
  <h1 class="text-2xl text-center text-white my-8"><%=@post.title%></h1>
  <div>
    <%= image_tag 'kuest', class: 'rounded-lg'%>
    <table class="table-auto my-8">
      <tbody>
        <tr>
          <th class="font-bold w-20 text-lg">場所</th>
          <td class="font-bold text-lg"><%=@post.place%></td>
        </tr>
        <tr>
          <th class="font-bold">日時</th>
          <td><%=@post.date%></td>
        </tr>
        <tr>
          <th class="font-bold">料金</th>
          <td><%=@post.price%></td>
        </tr>
        <tr>
          <th class="font-bold">時間</th>
          <td><%=@post.time%></td>
        </tr>
        <tr>
          <th class="font-bold">公式URL</th>
          <td class="link link-primary"><%= raw Rinku.auto_link(h("#{@post.url}")) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <% if current_user %>
      <%= link_to 'クエストに出かける', quests_path(id: @post.id), data: { turbo_method: :post }, class: 'btn btn-primary' %>
    <% else %>
      <p class="text-bold text-lg">ログインしてクエストに出かけよう！</p>
      <div class="text-center">
        <%= link_to 'ゲストログイン', guest_login_path(post_id: @post.id), data: { turbo_method: :post }, class: "btn"%>
        <%= link_to 'googleログイン', auth_at_provider_path(provider: :google), class: "btn btn-primary"%>
        <%= link_to 'ログイン', login_path, class: "btn btn-warning"%>
      </div>
    <% end %>
    <%= link_to '戻る', area_path(@post.area), class: "btn mt-2"%>
  </div>
  </div>
</section>
