<section class="select-sec p-6">
<div class="max-w-lg mx-auto">
  <h1 class="text-5xl text-center my-4">区エスト詳細</h1>
  <h1 class="text-3xl text-center text-white my-8"><%=@post.title%></h1>
  <div class="grid grid-cols-5 gap-4 my-4">
    <% if @post.image.attached? %>
      <%= image_tag @post.image.variant(resize: "200x200>"),class: "col-span-2 rounded-xl self-center" %>
    <% end %>
    <div class="overflow-x-auto col-span-3">
      <table class="table w-full">
        <tbody>
          <tr>
            <td class="font-bold">場所</td>
            <td><%=@post.place%></td>
          </tr>
          <tr>
            <td class="font-bold">日時</td>
            <td><%=@post.date%></td>
          </tr>
          <tr>
            <td class="font-bold">料金</td>
            <td><%=@post.price%></td>
          </tr>
          <tr>
            <td class="font-bold">時間</td>
            <td><%=@post.time%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="www rounded-lg mb-4">
    <p class="p-4 text-white text-lg leading-loose"><%=safe_join(@post.body.split("\n"),tag(:br))%></p>
  </div>
  <div class="text-center">
    <% if current_user %>
      <%= link_to 'クエストに出かける', quests_path(id: @post.id), data: { turbo_method: :post }, class: 'btn btn-primary' %>
    <% else %>
      <p class="text-bold text-lg">ログインしてクエストに出かけよう！</p>
      <div class="text-center">
        <%= link_to 'googleログイン', auth_at_provider_path(provider: :google), class: "btn btn-primary"%>
        <%= link_to 'ゲストログイン', guest_login_path, data: { turbo_method: :post }, class: "btn"%>
      </div>
    <% end %>
    <%= link_to '戻る', area_path(@post.area), class: "btn mt-2"%>
  </div>
  </div>
</section>
