<!DOCTYPE html>
<html>
  <head>
    <title>区エスト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= include_gon %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "style"%>
    </head>

  <body>
    <%= render 'shared/flash_message'%>
    <%= yield %>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&v=weekly" defer></script>
  </body>
</html>
